.custom-button {
  border: none;
  background-color: #fff;
  padding: 12px 25px;
  border-radius: 50px;
  display: block;
  cursor: pointer;
  margin: 10px auto;
  box-shadow: 0 0.5rem 1rem black;
  transition: transform 0.2s ease;
  outline: none;
  font-weight: bold;
  line-height: 20px;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.8rem 1rem black;
  }
  &:active {
    outline: none;
    transform: translateY(3px);
  }
}
