@import '../../responsive.scss';

.tracks-container{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(170px,1fr));
    justify-items: center;
    gap: 15px;

    @include responsive(mobile-small){
        grid-template-columns: repeat(1, 1fr);
        justify-items: normal;
    }
}