@import '../../responsive.scss';

.queue-dropup {
  position: absolute;
  right: 40px;
  bottom: 60px;
  width: 300px;
  max-height: 350px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);



  .title {
    margin: 0;
    padding: 0 0 15px 0;
    @include responsive(mobile-small) {
      font-size: 15px;
    }
  
  }

  .empty-msg {
    font-size: 14px;
    text-align: center;
  }
}

.scale-up-enter {
  opacity: 0;
  bottom: 0;
  transform: scale(0.1);
}
.scale-up-enter-active {
  opacity: 1;
  bottom: 60px;
  transform: scale(1);
  transition: opacity 200ms, transform 200ms, bottom 200ms;
}
.scale-up-exit {
  opacity: 1;
}
.scale-up-exit-active {
  opacity: 0;
  bottom: 0;
  transform: scale(0.3);
  transition: opacity 100ms, transform 200ms, bottom 200ms;
}