.song-card {
  text-align: center;
  display: inline-block;
  margin: 15px;
  .art-display {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

    .buttons {
      opacity: 0;
      width: 100%;
      height: 100%;
      transition: opacity 0.2s ease, backdrop-filter 0.1s ease-in-out;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      svg {
        cursor: pointer;
        transform: scale(0.5);
        transition: opacity 0.2s ease, transform 0.3s ease;
      }
    }

    &:hover .buttons {
      opacity: 1;
      backdrop-filter: blur(4px);
      background-color: rgba(255, 255, 255, 0.2);
    }

    &:hover .buttons svg {
      opacity: 1;
      transform: scale(1);
    }
  }
  .song-name {
    margin: 0;
    margin-top: 5px;
    padding: 5px 0;
    font-size: 17px;
    font-weight: bold;
  }
  .artist-name {
    font-size: 14px;
  }
}
