@import '../../responsive.scss';

.playlists-container {
  width: 100%;
  padding: 0 20px;
  position: relative;

  @include responsive(mobile-small){
    padding: 0;
  }

  .title-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title{
      @include responsive(mobile-small){
        font-size: 17px;
      }
    }

    .create-playlist-btn {
      font-size: 16px;
      color: #2d3347;
      display: inline-block;
      background-color: transparent;
      border: none;
      outline: none;
      &:hover {
        cursor: pointer;
      }

      @include responsive(mobile-small){
        font-size: 14px;
      }
    }
  }

  .empty-msg {
    @include responsive(mobile-small){
      font-size: 14px;
    }
  }
  .playlists-overview-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;

    @include responsive(mobile-small){
      margin-top: 20px;
      flex-direction: column;
    }
  }
}
.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 200ms, transform 200ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 100ms, transform 200ms;
}
