.user-info {
  .user-name {
    width: 45px;
    height: 45px;
    background-color: #2d3347;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    line-height: 45px;
  }
}
