.user-info-dropdown {
  width: 130px;
  position: absolute;
  top: 45px;
  right: 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  overflow: hidden;

  .name {
    margin: 0;
    padding: 15px 0;
  }

  .log-out-btn {
    width: 100%;
    padding: 15px 0;
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 38, 0);
    transition: background-color 0.2s ease;
    &:hover {
      background-color: rgba(248, 248, 248, 0.867);
    }
  }
}

.scale-enter {
  opacity: 0;
  top: 0;
  transform: scale(0.1);
}
.scale-enter-active {
  opacity: 1;
  top: 45px;
  transform: scale(1);
  transition: opacity 200ms, transform 200ms, top 200ms;
}
.scale-exit {
  opacity: 1;
}
.scale-exit-active {
  opacity: 0;
  top: 0;
  transform: scale(0.3);
  transition: opacity 100ms, transform 200ms, top 200ms;
}