.dialog {
  width: 90%;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

  .title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      width: 50%;
      margin: 0;
      margin-bottom: 5px;
    }

    .close-btn {
      cursor: pointer;
      font-size: 16px;
      font-weight: bolder;
      background-color: transparent;
      border: none;
      outline: none;
    }
  }

  .subtitle {
    padding: 0;
    margin: 0;
    font-size: 14px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(243, 243, 243);
  }

  .tracks-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
    .btn {
      cursor: pointer;
      outline: none;
      font-size: 13px;
      border: none;
      background-color: #0d0c12;
      color: #fff;
      padding: 10px 15px;
      border-radius: 50px;
      margin-left: 20px;
    }

    .btn-disabled {
      background-color: #727080;

      &:hover {
        cursor: not-allowed;
      }
    }
  }
}
