.header {
  width: 100%;
  position: sticky;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  .user-info {
    min-width: 100px;
    min-height: 40px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
