.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  .user-info {
    padding: 15px;
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
  }
}
