.playlist-overview {
  width: 385px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #2d3347;
  margin-bottom: 40px;
  margin-right: 40px;
  cursor: pointer;
  .title {
    text-transform: capitalize;
  }
  .image {
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    transition: background-image 0.2s ease;
  }

  .btn {
    outline: none;
    background-color: #2d3347;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 5px 20px;
    margin-right: 20px;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.2s ease;

    &:hover {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
  }

  .disabled {
    background-color: #c0bdcf;
    color: rgb(161, 161, 161);
  }

  svg {
    margin-right: 10px;
  }

  .title {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-right: auto;
  }
}
