.sidebar {
  display: inline-block;
  width: 15%;
  text-align: center;
  background-color: #0d0c12;
  height: 100vh;

  .logo {
    color: #fff;
    font-size: 45px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 20px;
    font-weight: normal;
    font-family: "Permanent Marker", cursive;
  }

  .links-list {
    height: 45%;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .list-item {
      padding: 10px 0;
      text-decoration: none;
      color: rgb(155, 155, 155);
      font-weight: bold;
      border-bottom: 2px solid transparent;
      transition: border 500ms ease, color 500ms ease;

      &:hover {
        color: #fff;
        border-color: #fff;
      }
    }

    .link-active {
      color: #fff;
      border-bottom: 2px solid #fff;
    }
  }
}
