$primary-color: #0d0c12;

.player {
  width: 85vw;
  height: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #d9dbe9;
  color: $primary-color;
  padding: 20px;

  .progress {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .time {
      width: 40px;
      font-size: 14px;
      text-align: center;
    }
    .bar {
      margin: 0 10px;
      width: 70%;
    }
  }

  .controles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .currently-playing {
      h3 {
        margin: 0;
        padding: 0;
      }
      span {
        font-size: 14px;
      }
    }
    .buttons-secondary {
      width: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
