@import '../../responsive.scss';

$primary-color: #0d0c12;

.player {
  width: 100%;
  background-color: rgba(256, 256, 256, 0.8);
  backdrop-filter: blur(80px);
  color: #2d3347;
  padding: 15px 40px;

  @include responsive(mobile-small){
    padding: 15px;  
  }

  .progress {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    .time {
      width: 40px;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
    }
    .bar {
      width: 100%;
      margin: 0 10px;
    }

    @include responsive(mobile-small){
     margin-bottom: 0;  
    }
  }

  .controles {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    @include responsive(mobile-small){
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      // display: flex;
      // flex-direction: column;
        
    }

    svg {
      cursor: pointer;
    }
    .currently-playing {
      justify-self: baseline;

      @include responsive(mobile-small){
        grid-column-start: 1;
        grid-column-end: span 2; 
      }

      h3 {
        margin: 0;
        padding: 0;

        @include responsive(mobile-small){
          font-size: 17px;  
        }

      }
      span {
        font-size: 14px;

        @include responsive(mobile-small){
          font-size: 12px;  
        }
      }
    }

    .buttons-primary{
      justify-self: center;
      @include responsive(mobile-small){
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: span 4;
      }
    }

    .buttons-secondary {
      width: 70%;
      min-width: 150px;
      justify-self: end;
      // width: 15%;
      display: flex;
      align-items: center;

      @include responsive(mobile-small){
       width: 100%; 
       grid-column-start: 3;
       grid-column-end: span 2;
      }

      svg {
        margin: 0 5px;
      }
    }
  }
}