$primary-color: #0d0c12;

.player {
  width: 85vw;
  height: 17vh;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  color: $primary-color;
  padding: 15px 35px;
  backdrop-filter: blur(80px);

  .progress {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    .time {
      width: 40px;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
    }
    .bar {
      width: 100%;
      margin: 0 10px;
    }
  }

  .controles {
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      cursor: pointer;
    }
    .currently-playing {
      flex-basis: 150px;
      h3 {
        margin: 0;
        padding: 0;
      }
      span {
        font-size: 14px;
      }
    }

    .buttons-primary {
      flex-basis: 200px;
    }

    .buttons-secondary {
      flex-basis: 200px;
      display: flex;
      align-items: center;

      svg {
        margin: 0 5px;
      }
    }
  }
}
