.form-input {
  width: 100%;
  background: none;
  background-color: #4b505c;
  color: #fff;
  border: none;
  border-bottom: 2px solid #333;
  padding: 13px 10px;
  outline: none;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
}
