.home-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .page-content {
    width: 85%;
    height: 83vh;
    backdrop-filter: blur(80px);
    overflow: auto;
  }
}
