@import '../../responsive.scss';

.track-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin: 15px;
  color: #2d3347;
  @include responsive(mobile-small){
    flex-direction: row;
    text-align: start;
  }

  .art-display {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

    @include responsive(mobile-small){
      width: 55px;
      height: 55px;
    }

    .buttons {
      opacity: 0;
      width: 100%;
      height: 100%;
      transition: opacity 0.2s ease, backdrop-filter 0.1s ease-in-out;
      display: flex;
      justify-content: space-evenly;
      align-items: center;


      svg {
        cursor: pointer;
        transform: scale(0.5);
        transition: opacity 0.2s ease, transform 0.3s ease;
      }
    }

    &:hover .buttons {
      opacity: 1;
      backdrop-filter: blur(4px);
      background-color: rgba(255, 255, 255, 0.2);
    }

    &:hover .buttons svg {
      opacity: 1;
      transform: scale(1);
    }
  }

  .track-details{
    @include responsive(mobile-small){
      margin-left: 10px;
    }
  }

  .track-name {
    margin: 0;
    margin-top: 10px;
    padding: 5px 0;
    font-size: 17px;
    font-weight: bold;

    @include responsive(mobile-small){
      font-size: 14px;
      padding: 0;
    }
  }
  .artist-name {
    font-size: 14px;
    @include responsive(mobile-small){
      font-size: 12px;
    }
  }

  .button{
    margin-left: auto;
    svg{
      font-size: 18px;
    }

    div{
      display: flex;
      align-items: center;

      span{
        font-size: 12px;
      }
    }
    
    button{
      font-size: 12px;
      padding: 0;
      margin: 0;
      border: none;
      outline: none;
      background-color: transparent;
      display: flex;
      align-items: center;
    }

  }
}
